#login-buttons { position: relative; top: 15px; }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.sensitive:not(:focus), .sensitive:not(:focus) * {
	color: rgba(255,255,255,0);
	text-shadow: 0px 0px 8px rgba(0,0,0, 1);
}

#connection-lost-banner {
	_position: static !important;
	text-align: center;
}

#connection-lost-banner + div.navbar-fixed-top {
    top: 41px;
}
div.navbar-fixed-top + #connection-lost-banner {
    top: 51px;
}
div.navbar-fixed-top + #connection-lost-banner + div.row {
	margin-top: 41px;
}